/* Importar a fonte Nunito do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');


/*start global CSS for whole page*/
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background-color: yellow;
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background-color: #222;
}

html::-webkit-scrollbar-thumb{
    background: yellow;
}

body{
    background: azure;
    overflow-x: hidden;
}

/*menu de navegação*/
nav {
    display: flex;
    flex-direction: initial;
    color: yellow;
    background-color: black;
    justify-content: space-between;
}

nav > a {
    width: 30%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: yellow;
    font-weight: 800;
    font-size: 32px;
    font-family: monospace, serif;
    justify-items: initial;
}


nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 15px;
}


nav ul li {
    text-align: end;
    width: 100%;
}


nav ul li a {
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: azure;

}

nav ul a:hover {
    transform: scale(1.1);
    color: yellow;

}


.btn{
    padding: 1rem 3rem;
    background: black;
    color: yellow;
}


/*imagem do topo*/
#banner {
    width: 100%;
    height: 400px;
}



/*Galeria pet CSS start*/

.galeriapet .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.galeriapet .box-container img{
    max-width: 180px;
    border-bottom: solid 2px;
}

.galeriapet .box-container .box{
    position: relative;
    margin: 4rem 1rem;
    border: solid 1px;
}

.galeriapet .box-container .box span{
    font-size: 1.3rem;
    padding: 7px 7px;
    
}


.galeriapet .box-container .box h3{
    font-size: 1.5rem;
    color: black;
}





footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: azure;
}

footer a {
    text-decoration: none;
    color:azure;
}






@media (max-width:600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: none;
    }

    #banner {
        display: none;

    }

    #galeriapet img {
        display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    }



}